<ion-content ng-controller="themeMe as me">
  <div class="col col-33 col-offset-33" id="pushdown">
    <img src="img/logo.png">
  </div>
  <div class="list list-inset">
    <label class="item item-input" id="email">
      <input type="text" ng-model="email" placeholder="Email">
    </label>
    <label class="item item-input" id="password">
      <input type="password" ng-model="password" placeholder="Password">
    </label>
    <label class="item item-input" id="passwordConf">
      <input type="password" ng-model="passwordconf" placeholder="Password Confirmation">
    </label>
    <button class="button button-block button-positive" ng-click="me.userSignUp(email, password, passwordconf)" id="signUp">
      Sign up
    </button>
    <button class="button button-block button-positive" ui-sref="playtheme" id="playCurrentTheme">
      Play current user theme
    </button>
  </div>
</ion-content>
